.App {
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18em;
}


.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}