.react-awesome-popups-success {
    display: table;
    /*border-radius: 0.5em;*/
    border: 0 solid #10DE0F;
    border-left-width: 3px;
    margin-right: 3px;
    background-color: #C6FDBE;
}
.react-awesome-popups-success-text {
    color: #04B403;
    text-align: left;
    padding: 0.5em;
}