.react-awesome-popups {
    display: table;
    pointer-events: all;
    border: solid;
}
/*.react-awesome-popups[fadestate="start"] {*/
/*    opacity: 1;*/
/*    clip-path: inset(0 100% 0 0);*/
/*}*/
/*.react-awesome-popups[fadestate="fadingIn"] {*/
/*    opacity: 1;*/
/*    clip-path: inset(0 0 0 0);*/
/*}*/
/*.react-awesome-popups[fadestate="hold"] {*/
/*    opacity: 1;*/
/*}*/
/*.react-awesome-popups[fadestate="fadingOut"] {*/
/*    opacity: 0;*/
/*}*/

.react-awesome-popups-success {
    border-color: #10DE0F;
    border-width: 0;
    border-left-width: 3px;
    margin-right: 3px;
    background-color: #C6FDBE;
}
.react-awesome-popups-popup-content {
    padding: 0.5em;
    text-align: left;
}
.react-awesome-popups-popup-content-success {
    color: #04B403;

}
.react-awesome-popups-popup-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*padding: 0.5em;*/
}
.react-awesome-popups-close-button {
    cursor: pointer;
    width: auto;
    height: auto;
    max-height: 0.8em;
    min-width: 0.8em;
    /*margin-left:0.5em;*/
    padding:0.5em;
}
.react-awesome-popups-close-button-success {
    fill: #04B403;
}
.react-awesome-popups-close-button-success:hover {
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
}
